/* resetting some browser-default styles */
/* DO NOT CHANGE THESE */
html,body,header,main,footer,section,aside,h1,h2,h3,h4,p{margin:0;padding:0;}
ul{margin:0;}


body {

    /* DO NOT CHANGE THESE */
    font-family: Verdana, Arial, sans-serif;
}


.hero {

    /* DO NOT CHANGE THESE */
    background-color: #444444;
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;

}
.hero h1 {

    /* DO NOT CHANGE THESE */
    color: #ffffff;
    margin-left: 2em;
}

.hero nav {
    align-self: flex-end;
    margin-bottom: 1em;
}

.posts {

    /* DO NOT CHANGE THESE */
    color: #444444;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1em;

    display: flex;
    flex: 1 0 25%;

}
.posts article {

    /* DO NOT CHANGE THESE */
    background-color: #dddddd;
    border: 1px solid #444444;
    height: 20em; /* this is just so we can see the articles since they have no content */
    flex: 0 0 45%;
    margin: 1em;


}


.sidebar {

    /* DO NOT CHANGE THESE */
    background-color: #aaaaaa;
    color: #444444;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 3em;
    flex: 0 0 25%;

}

.sidebar section {


    /* DO NOT CHANGE THESE */
    background-color: #dddddd;
    border: 1px solid #444444;
    height: 10em; /* this is just so we can see the articles since they have no content */
    width: 85%;
    flex-grow: 0;
    margin-top: 2em;


}


footer {

    /* DO NOT CHANGE THESE */
    background-color: #444444;
    color: #eeeeee;
}

.container {
  display: flex;
  justify-content: space-between;
}

.hero ul {
  list-style: none;
  display: flex;
}

.hero li {
  margin-right: 1em;
}

p {
  display: flex;
  justify-content: flex-end;
}
